#django settings
SECRET_KEY=
DEBUG=

#postgres settings
PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DBNAME=

# cache
CACHE_ENABLED=
REDIS_LOCATION=

# email settings
# server details
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
# authentication credentials
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
# defaults
DEFAULT_FROM_EMAIL=
