{% extends "mail_service/base.html" %}
{% load auth_extras %}

{% block title %}Newsletter: main page{% endblock %}

{% block content %}
<div class="px-ut container-fluid py-4 px-md-4">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3 gap-2">
        <div>
            <h1 class="h3 mb-1">Управление сообщениями</h1>
        </div>
        {% if user|has_group:"Users" %}
        <a class="btn btn-primary" href="{% url 'mail_service:message_new' %}">Добавить</a>
        {% endif %}
    </div>
    <div class="card">
        <div class="card-header bg-transparent d-flex flex-wrap gap-2 align-items-center justify-content-between">
            <h5>Список сообщений:</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-light">
                <tr>
                    <th>Сообщение</th>
                    <th class="text-end">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for message in message_list %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            <div>
                                <div class="fw-medium">{{ message.subject }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="text-end">
                        <div class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{% url 'mail_service:message_detail' message.pk %}">Подробности</a>
                            {% if message.owner == user %}
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{% url 'mail_service:message_edit' message.pk %}">Редактировать</a>
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{% url 'mail_service:message_delete' message.pk %}">Удалить</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
