{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Newsletter{% endblock %}</title>
    <link href="{% static 'images/favicon.bmp' %}" type="image/png" rel="icon">
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
{% include "mail_service/includes/inc_menu.html" %}
<main class="flex-grow-1">
    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>
</main>
{% include "mail_service/includes/inc_footer.html"%}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>