{% extends "mail_service/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Забыли пароль?</h2>
            <p>Введите ваш email, и мы вышлем вам ссылку для сброса пароля.</p>

            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group mb-2">
                    {{ field.errors }}
                    <h6 class="my-1">{{ field.label_tag }}</h6>
                    {{ field }}
                    {% if field.help_text %}
                    <div class="text-secondary">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
                {% endfor%}

                <button type="submit" class="btn btn-primary">Сбросить пароль</button>
                <p class="mt-3">
                    <a class="btn btn-primary" href="{% url 'users:login' %}">Отмена</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
