{% extends "mail_service/base.html" %}

{% block title %}Newsletter: client{% endblock %}

{% block content %}
{% if mailinglist %}
<h1>Форма изменения клиента</h1>
{% else %}
<h1>Форма добавления клиента</h1>
{% endif %}

<div class="row">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ client.first_name }} {{ client.patronymic|default_if_none:" " }} {{ client.surname }}</h5>
                <p class="card-text">Почта: {{ client.email }}</p>
                <p class="card-text">Комментарий:</p>
                <p class="card-text">{{ client.comment }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card shadow-sm">
            <div class="card-body">

                <h5 class="card-title">Действия:</h5>
                <div class="d-grid gap-2">
                    {% if client.owner == user %}
                    <a class="btn btn-primary" href="{% url 'mail_service:client_edit' client.pk %}">Редактировать</a>
                    <a class="btn btn-primary" href="{% url 'mail_service:client_delete' client.pk %}">Удалить</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'mail_service:client_list' %}?page={{ page }}">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}